#mypage-home {
  .mypage-home-wrap {
    min-height: calc(100vh - 140px) ;
    padding: 0 16px;
    background-color: #F8F7FA;
    @include flex-layout(column, flex-start, center);
    gap: 3rem;
    @include desktop {
      min-height: 100vh;
    }
    .mypage-content-wrap {
      width: 100%;
      @include flex-layout(column, center, flex-start);
      gap: 3rem;
      @include desktop {
        padding-top: 2rem;
      }
      .user {
        width: 100%;
        margin-top: 10px;
        padding: 25px 0;
        border-bottom: 1px solid var(--color-lightgraytxt);
        * {
          display: inline;
        }
        h1 {
          color: var(--color-primary);
          @include font-h1();
          margin-right: 5px;
        }
        h2 {
          @include font-h2();
        }
      }
      .box-title {
        color: var(--color-graytxt);
        @include font-body-bold;
        padding-left: 10px;
        margin-bottom: 1.5rem;
      }
      .reservation {
        width: 100%;
      }
      .recently {
        width: 100%;
        .recently-box {
          height: 105px;
          @include flex-layout(column, flex-start, flex-start);
          gap: 15px;
          padding: 25px 23px;
          background-color: var(--color-white);
          border: 1px solid var(--color-sub);
          border-radius: 16px;
          cursor: pointer;
          &.empty {
            text-align: center;
            color: var(--color-graytxt);
            @include font-body();
            @include flex-layout();
          }
          div {
            width: 100%;
            @include flex-layout(row, space-between, center);
            p {
              @include font-body-bold();
              &:nth-child(2) {
                @include font-body();
              }
            }
          }
        }
      }
      .profile-edit {
        width: 100%;
        .edit-box {
          @include flex-layout();
          gap: 15px;
          .edit-card {
            padding: 20px 15px;
            background-color: var(--color-white);
            border: 1px solid var(--color-sub);
            border-radius: 16px;
            flex: 1;
            box-shadow: 0 0 20px #dcd5e8c7;
            cursor: pointer;
            svg {
              font-size: 50px;
              padding-left: 5px;
              path {
                color: var(--color-sub);
              }
            }
            .card-txt {
              text-align: right;
              padding: 2px 0;
              h3 {
                @include font-body-bold();
                margin-bottom: 3px;
              }
              p {
                @include font-overline();
              }
            }
          }
        }
      }
    }
    .logout {
      @include flex-layout();
      @include font-h3();
      gap: 5px;
      margin: 0 auto;
      padding-bottom: 50px;
      cursor: pointer;
      * {
        color: var(--color-graytxt);
      }
    }
  }
  
  
}

.reservation-box {
  @include flex-layout(row, space-between, center);
  background-color: var(--color-primary);
  border-radius: 16px;
  box-shadow: 0 0 20px #dcd5e8c7;
  padding: 25px;
  cursor: pointer;
  div {
    flex: 1;
    text-align: center;
    p {
      color: var(--color-white);
      @include font-body-bold();
    }
    h1 {
      color: var(--color-white);
      @include font-h1();
    }
    &:nth-child(2){
      border-left: 0.5px solid var(--color-lightgraytxt);
      border-right: 0.5px solid var(--color-lightgraytxt);
    }
  }
}


// recently 예약 상태에 따른 classname style
.recently-box {
  box-shadow: 0 0 20px #dcd5e8c7;
  > .reserved {
    p {
      &:nth-child(2) {
        color: var(--color-primary);
      }
    }
  }
  > .canceled {
    p {
      color: var(--color-graytxt);
    }
  }

}
