//global.scss
@import "./reset.scss";
@import "./mixin.scss";
@import "./variable.scss";


//font
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
// font-family: 'Pretendard Variable', sans-serif; (100~900 굵기 지원)

html{ font-size: 62.5%; letter-spacing: -0.02em;}
body{
    font-family: 'Pretendard Variable', sans-serif;
}
.mobile-page-contents {
    max-width: $small-size;
    min-height: calc(100vh - 140px) ;
    margin: 0 auto;
    padding: 70px 0;
}