.floor-select {
  max-width: $small-size;
  height: 100vh;
  margin: 0 auto;
  padding: 70px 0; 
  text-align: center;
  @include flex-layout(column, space-between, center);
  .floor-wrap-top {
    width: 100%;
    padding-top: 10px;
  }
  .top-zone {
    width: 100%;
    .zone-name {
      text-align: center;
      @include font-body-bold;
      color: var(--color-graytxt);
      background-color: #f8f7fa;
      padding: 2rem;
    }
    .zone-wrap {
      padding: 0 16px;
      background-color: #f8f7fa;
      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: (2, auto);
        gap: 1.5rem;
        padding-bottom: 3rem;
        .zone-select {
          @include flex-layout(column,  flex-end, center);
          background-color: var(--color-white);
          border: 1px solid var(--color-sub);
          border-radius: 1.6rem;
          height: 112px;
          padding: 16px 20px;
          text-align: center;
          cursor: pointer;
          &:hover {
            background-color: var(--color-primary);
            color: var(--color-white);
          }
  
          &.on {
            background-color: var(--color-primary);
            color: var(--color-white);
  
            // 상태 점 색상도 바꾸고 싶으면 아래처럼
            .status-dot {
              background-color: var(--color-white);
            }
          }
  
          div:nth-child(1) {
            margin-bottom: 1rem;
            @include font-body-bold();
            span {
              @include font-h1();
            }
          }
          div:nth-child(2) {
            width: 100%;
            @include flex-layout(row, space-between, center);
            gap: 1rem;
            @include font-caption();
            span {
              @include font-body-bold();
              margin: 0 3px;
            }
            .status-dot {
              display: inline-block;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              margin-right: 5px;
            }
            .쾌적 {
              background-color: green;
            }
            .여유 {
              background-color: #ffd078;
            }
            .혼잡 {
              background-color: #ff7171;
            }
          }
        }
      }
    }
    .price-info {
      .price-title {
        text-align: center;
        @include font-body-bold;
        color: var(--color-graytxt);
        padding: 1rem;
        padding-top: 2rem;
      }
      .price-detail {
        border: 1px solid #ccc;
        border-radius: 1rem;
        margin: 0 2rem;
        @include font-body();
        li {
          @include flex-layout(space-between);
          // padding: 0.75rem 0;
          border-bottom: 1px solid #ccc;
          // gap: 2rem;

          &:last-child {
            border-bottom: none;
          }
          span {
            flex: 1;
            padding: 1rem;
            text-align: center;

            &:first-child {
              border-right: 1px solid #ccc;
              background-color: #f8f7fa;
              @include font-body-bold();
            }
          }
        }
      }
    }

//날짜 + 페이지 타이틀
    .top-wrapper {
    @include flex-layout(column);
    height: 90px;
    gap: 6px;
    // margin: 1rem 0;
    // border: 1px solid #222;
    .top1 {
      @include flex-layout(flex-start);
      @include font-caption();
      color: var(--color-graytxt);
      gap: 0.5rem;
    }
    .top2 {
      @include flex-layout(flex-start);
      gap: 0.5rem;
    }
    .calendar-icon{ font-size: 1.5rem; }
    .map-icon { font-size: 2rem; color: var(--color-primary) }
    h2 { @include font-h2(); }
  }
}
.floor-wrap-bottom {
  width: 100%;
  padding: 0 16px;
  .next-btn {
    @include btn1();
    width: 100%;
    // margin: 0 auto;
  }
}


//팝업 스타일  
  .no-zone-selected{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    .no-zone-box{
      @include flex-layout(column, space-between, center);
      background-color: var(--color-lightgraytxt);
      color: var(--color-maintxt);
      width: 60%;
      height: 20rem;
      padding: 24px 32px;
      border-radius: 1rem;
      text-align: center;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
      min-width: 260px;
      max-width: 400px;
      svg {
        font-size: 5rem;
        color: var(--color-sub);
      }
      p {
        @include font-body-bold;
        text-align: center;
      }
      button {
        @include pop-btn();
      }
      .no-zone-bot{
          @include font-caption();
          color: var(--color-graytxt);
      }
    }
  }
}