
//결제수단 페이지
#reservation-payment{
    position: relative;
    max-width: $small-size;
    margin: 0 auto;
    padding: 100px 16px;
    padding-bottom: 70px;
    width: 100%;
    height: 100%;
    @include font-body();
    @include flex-layout(column,flex-start,center);
    gap: 1.5rem;
    overflow: scroll;
    .reserve-pay-top{
        @include flex-layout(column);
        gap: 6px;
        .current-date{
            width: 100%;
            @include flex-layout();
            gap: 1rem;
            color: var(--color-graytxt);
            @include font-caption();
        }
        .payment-i{
            @include flex-layout();
            gap: 1rem;
            width: 100%;
            text-align: center;
            svg{
                color: var(--color-primary);
            }
        }
    }
    .payment-way{
        width: 100%;
        .how-to-pay{
            @include flex-layout(column);
            .credit-check,
            .kakao-pay,
            .toss-pay{
                margin: 0.8rem 0;
                cursor: pointer;
                width: 100%;
                @include flex-layout($justify:flex-start);
                gap: 2rem;
                border: 1px solid var(--color-sub);
                padding: 3rem;
                border-radius: 1.6rem;
                &.selected{
                    border: 2px solid var(--color-primary);
                    background-color: #f8edff;
                    .color-i{
                        color: var(--color-primary);
                    }
                    p{
                        color: var(--color-primary);
                    }
                    .credit-i,
                    .kakao-i{
                        color: var(--color-primary);
                    }
                }
                p{
                    font-weight: 600;
                }
                button{
                    border: none;
                    background: none;
                }
                .credit-i,
                .kakao-i{
                    font-size: 20px;
                }
            }
        }
    }
    .reserve-aware,
    .service-use{
        margin-top: 2rem;
        @include font-caption();
        width: 100%;
        @include flex-layout($justify:space-between);
        border-bottom: 1px solid var(--color-lightgraytxt);
        padding-bottom: 0.5rem;
        p{
            color: var(--color-graytxt);
            padding-left: 0.5rem;
        }
        svg{
            width: 20px;
            color: var(--color-graytxt);
            padding-right: 0.5rem;
        }
    }
    .agree-check{
        width: 100%;
        @include font-caption();
        text-align: center;
        color: var(--color-graytxt);
    }
    .year-true,
    .year-false{
        word-break: keep-all;
        text-align: center;
        margin-top: 5rem;
        height: 30px;
        width: 100%;
        @include flex-layout();
        gap: 0.5rem;
        p{
            font-weight: 600;
            span{
                color: var(--color-primary);
            }
        }
        svg{
            width: 30px;
            height: 30px;
            color: rgb(238, 238, 0);
        }
    }
    .total-amount{
        width: 90%;
        @include flex-layout($justify:space-between);
        border-top: 1px solid var(--color-sub);
        padding: 1.5rem 0;
        h2{
            color: var(--color-primary);
        }
    }
    button{
        @include btn1();
        margin-bottom: 0;
    }
}

//결제완료 페이지
#complete-reservation{
    background-color: #F8F7Fa;
    position: relative;
    max-width: $small-size;
    margin: 0 auto;
    padding: 100px 16px;
    padding-bottom: 70px;
    width: 100%;
    height: 100vh;
    @include font-body();
    @include flex-layout(column,flex-start,center);
    gap: 1rem;
    // overflow: scroll;
    .top-com-re{
        margin-top: 3rem;
        @include flex-layout();
        gap: 1rem;
        svg{
            font-size: 2rem;
            color: var(--color-primary);
        }
    }
    .meet-dream{
        @include font-caption();
        color: var(--color-graytxt);
        margin-bottom: 2rem;
    }
    .all-the-info{
        width: 100%;
        background-color: var(--color-white);
        border: 1.5px solid var(--color-sub);
        border-radius: 1.6rem;
        @include flex-layout(column);
        padding: 2rem 3rem;
        .reserve-total-info{
            width: 100%;
            @include flex-layout($justify:flex-start);
            gap: 2rem;
            font-weight: bold;
            padding-left: 2rem;
            padding-bottom: 1rem;
            .names-reserve{
                li{
                    margin: 2.5rem 0;
                    color: var(--color-graytxt);
                }
            }
            .saved-reserve{
                li{
                    margin: 2rem 0;
                    @include font-h3();
                }
            }
        }
        .show-area{
            @include flex-layout();
            gap: 1rem;
            padding: 2rem;
            border: 1px solid var(--color-lightgraytxt);
            border-radius: 0.8rem;
            margin-bottom: 2rem;
            .line-area{
                padding: 3rem 1rem;
                background-color: var(--color-lightgraytxt);
                border: 1px solid var(--color-lightgraytxt);
                color: var(--color-graytxt);
                border-radius: 0.8rem;
                &.selected{
                    color: var(--color-maintxt);
                    background-color: var(--color-secondary);
                    border: 1px solid #FFD187;
                    font-weight: bold;
                }
            }
        }
        .warn-payment{
            word-break: keep-all;
            @include flex-layout();
            padding: 2rem 0;
            padding-bottom: 1rem;
            gap: 0.5rem;
            border-top: 1px dashed var(--color-graytxt);
            p{
                @include font-caption();
            }
        }
    }
    .btn-reser-home{
        width: 100%;
        margin-top: 4rem;
        .reser-b{
            @include btn2();
            margin-bottom: 1.5rem;
        }
        .tohome-b{
            @include btn1();
        }
    }
}