.reserves-time{ 
    max-width: $small-size;
    height: 100%;
    margin: 0 auto;
    padding: 100px 16px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    position: relative;
    .wrong-time-pop,
    .no-time-pop{
        word-break: keep-all;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        .wrong-time-box,
        .no-time-box{
            @include flex-layout(column, space-between, center);
            background-color: var(--color-lightgraytxt);
            color: var(--color-maintxt);
            width: 60%;
            height: 20rem;
            padding: 24px 32px;
            border-radius: 1rem;
            text-align: center;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
            min-width: 260px;
            max-width: 400px;
            svg {
                font-size: 5rem;
                color: var(--color-sub);
            }
            p {
                @include font-body-bold;
                text-align: center;
            }
            button {
                @include pop-btn();
            }
            .wrong-time-bot,
            .no-time-bot{
                @include font-caption();
                color: var(--color-graytxt);
            }
        }
    }
    
    .time-title {
        @include flex-layout(column, center, center);
        gap: 6px;
        .time-date{
            color: var(--color-graytxt);
            @include font-caption();
        }
        h2{
            @include flex-layout();
            gap: 1rem;
            @include font-h2;
            svg{
                color: var(--color-primary);
            }
        }
    }
    .time-seat{
        width: 100%;
        height: 6rem;
        background-color: var(--color-lightgraytxt);
        color:var(--color-maintxt);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        border-radius: 1rem;
        P{
            @include font-body-bold();
        }
        h1{
            @include font-h1();
        }
    }
    .time-btn{
        width: 100%;
        margin: 1.8rem auto;
        display:flex;
        align-items: center;
        justify-content: center;
        button{
            @include flex-layout();
            gap: 1rem;
            width: 100%;
            height: 6rem;
            border: none;
            border-radius: 1rem;
            background-color: var(--color-lightgraytxt);
            color: var(--color-maintxt);
            @include font-h3;
            &:hover{
                filter: brightness(80%);
            }
            &:nth-child(1){
                background-color: var(--color-primary);
                color: var(--color-white);
            }
        }
    }
    h3{
        width: 90%;
        @include font-h3;
        display: block;
        margin: 1rem 0;
    }
    .time-time{
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
        label{    
            flex: 1; 
            color: var(--color-graytxt);
            @include font-caption();
            select{
                width: 100%;
                border-color: var(--color-lightgraytxt);
                border-radius: 8px;
                padding: 12px;
                margin-top: 0.8rem;
                color: var(--color-maintxt);
                font-family: inherit;
                @include font-body();
                cursor: pointer;
                &:focus {
                    border-color: var(--color-primary);
                }
            }
        }
    }
    h4{
        width: 90%;
        height: 6rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: var(--color-maintxt); 
        background-color: var(--color-secondary);
        border-radius: 1rem;
        @include font-body();
        span{
            @include font-h3
        }
    }
    .time-info{
        width: 90%;
        margin: 0 auto;
        margin-top: 3rem;
        text-align: left;
        color: var(--color-graytxt);
        h5{
            @include font-body-bold;
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
        p{
            @include font-caption;
            margin: 0.8rem 0;
        }
    }
    .time-price{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0;
        border-top: 1px solid var(--color-graytxt);
        color: var(--color-maintxt);
        p{
            margin: 2rem 0;
            @include font-body;
            span{
                color: var(--color-primary);
                font-weight: bold;
            }
        }
        h5{
            color: var(--color-primary);
            @include font-h2;
        }
    }
    .time-max{
        width: 90%;
        @include font-caption;
        text-align: right;
        margin-bottom: 2rem;
        color: var(--color-graytxt);
        @include font-caption;
    }
    .time-nextBtn{
        @include btn1;
        width: 100%;
        // margin-top: 1rem;
    }
}